1780번 종이의 개수 <span style="color:green">성공</span> - 2025.06.11

In [ ]:
def cut(x, y, l):
    start = paper[x][y]
    cut_small = False
    for i in range(x, x + l):
        for j in range(y, y + l):
            if paper[i][j] != start:
                cut_small = True
                break
        if cut_small: break
    else:
        ans[start + 1] += 1
        return

    l //= 3
    for i in range(x, x + l * 3, l):
        for j in range(y, y + l * 3, l):
            cut(i, j, l)

n = int(input())
paper = [list(map(int, input().split())) for _ in range(n)]
ans = [0, 0, 0] # -1, 0, 1

cut(0, 0, n)

print(*ans, sep='\n')

2263번 트리의 순회 <span style="color:red">실패</span> - 2025.06.12

In [ ]:
import sys
sys.setrecursionlimit(10**6)

def pre_order(in_left, in_right, post_left, post_right):
    if in_left > in_right: return

    root = post_order[post_right]
    print(root, end=' ')

    root_idx = idx[root]
    tmp = root_idx - in_left

    pre_order(in_left, root_idx - 1, post_left, post_left + tmp - 1)
    pre_order(root_idx + 1, in_right, post_left + tmp, post_right - 1)

n = int(input())
in_order = list(map(int, input().split()))
post_order = list(map(int, input().split()))
idx = {value: index for index, value in enumerate(in_order)}

pre_order(0, n - 1, 0, n - 1)

1074번 Z <span style="color:green"></span> - 2025.06.13

In [ ]:
n, r, c = map(int, input().split())

ans = 0
n = 2**n
while n != 1:
    n = n//2
    if 0 <= r < n and 0 <= c < n: # 1 사분면
        ans += n**2 * 0
    elif 0 <= r < n and n <= c < n * 2: # 2 사분면
        ans += n**2 * 1
        c -= n
    elif n <= r < n * 2 and 0 <= c < n : # 3 사분면
        ans += n**2 * 2
        r -= n 
    elif n <= r < n * 2 and n <= c < n * 2: # 4 사분면
        ans += n**2 * 3
        r -= n 
        c -= n

print(ans)

1891본 사분면 <span style="color:green">성공</span> - 2025.06.14

In [ ]:
# 블로그 글 쓸때 사용하기 d = 3일 때
# 222 221 212 211 122 121 112 111
# 223 224 213 214 123 124 113 114
# 232 231 242 241 132 131 142 141
# 233 234 243 244 133 134 143 144
# 322 321 312 311 422 421 412 411
# 323 324 313 314 423 424 413 414
# 332 331 342 341 432 431 442 441
# 333 334 343 344 433 434 443 444
d, num = input().split()
x, y = map(int, input().split())
n = 2**(int(d))

r, c = 0, 0
for i in num:
    n //= 2
    if i == '1':
        c += n
    elif i == '2':
        pass
    elif i == '3':
        r += n
    elif i == '4':
        r += n
        c += n
    
r -= y
c += x

ans = ''
n = 2**(int(d))
while n != 1:
    n //= 2
    if 0 <= r < n and 0 <= c < n:
        ans += '2'
    elif 0 <= r < n and n <= c < n * 2:
        ans += '1'
        c -= n
    elif n <= r < n * 2 and 0 <= c < n:
        ans += '3'
        r -= n
    elif n <= r < n * 2 and n <= c < n * 2:
        ans += '4'
        r -= n
        c -= n
    else:
        print(-1)
        break
else:
    print(ans)

2448번 별 찍기 - 11 <span style="color:green"></span> - 2025.06.15